#vililrerhi {
    position: absolute;
    left: 463.5px;
    top: 410.76px;
    width: 513px;
    height: 152px;
    color: #313745;
    font-family: Nunito;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
  }
  