#combinedSh {
    position: absolute;
    left: 272.76px;
    top: 294.76px;
    width: 894.48px;
    height: 414px;
    background: #ffffff;
    background-blend-mode: normal;
    box-shadow: 0px 4px 14px 10px rgba(0,0,0,0.1),
                inset 0px 0px 30px rgba(29,30,75,0.2);
  }
  