@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
body, html {
    font-family: 'Nunito', sans-serif;
}

#combinedSh {
    position: absolute;
    width: 600px;
    height: 300px;
  }
#videoCloud {
    position: absolute;
    width: 600px;
    height: 300px;
}
#cloudtext {
    text-align: center;
    position: relative;
    color: #313745;
    top: 100px;
    font-family: Nunito;
    font-size: 30px;
    font-weight: 900;
    left: 100%;
    transform: translateX(-50%) translateY(-50%);
}

#cloud {
    position: absolute;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    animation: fadein 2s;
}


#cloudcontain {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

.cloudbtn {
    background-color: black;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 12px;
    width: 200px;
    font-family: Nunito;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-display: bold;
    position: relative;
    left: 100%;
    transform: translateX(-50%) translateY(-50%);
    top: 75px;
}
.cloudvideobtn {
    background-color: #73B47A;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    font-style: Nunito;
    width: 200px;
    font-family: Nunito;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 250px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  