@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Nunito', sans-serif;
}

#dogPos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-left: 230px;
    margin-top: 70px;
}

#dogcloud {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-left: -450px;
    margin-top: 70px;
}

#CloudSize {
    width:  750px;
    height: 400px;
}

#dogcloudText {
    position: absolute;
    top:35%;
    left:10%;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 900;
}
input[type=submit] {
    width: 265.14px;
    top: 20px;
    height: 35px;
    font-family: Nunito;
    border-radius: 6px;
    background: #2e3747;
    background-blend-mode: normal;
    font-family: Nunito;
    font-size: 18px;
    color: white;
    font-weight: 900;
}

#dogTitleText {
    position: absolute;
    top: -30%;
    left: 12%;
    font-family: Nunito;
    font-size: 40px;
    font-weight: 900;
}