div.a {
    text-align: center;
}
div.centeralign{
    text-align: center;
    width: 100%;
}
.container {
    position: relative;
  }
#rightalign {
    text-align: right;
}

.button {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 12px;
    font-family: Nunito;
    margin: 4px 2px;
    opacity: 100%;
    cursor: pointer;
    border-radius: 12px;
}

.myVideo {
    position: fixed;
    right: 0.5%;
    top: 1%;
    min-width: 99%; 
    min-height: 97%;
    opacity: 100%;
}
  
/* Add some content at the bottom of the video/page */

.content {
    text-align: center;
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.buttonContent {
    text-align: center;
}

body {
    background: linear-gradient(45deg, #d36872, #D5766C);
    background-blend-mode: normal;
}

#rectangle {
    opacity: 0.2;
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    background-blend-mode: normal;
}

#rightalign {
    z-index: 1;
    position: relative;
}

#centercontainer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.center {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;

}

.mutebutton {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

div#mc_embed_signup {
    position: fixed;
    padding: 30px;
    background: #fff;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    max-width: 300px;
    opacity: 0;
    transform: scale(.95);
    animation: showAnimation 0s ease-in 15s;
    animation-fill-mode: forwards;
}

div#mc_embed_signup h2 {
    font-family: Nunito;
    font-weight: 900;
    margin: 0 0 20px;
    font-size: 20px;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
}

.indicates-required {
    display: none;
}

label {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 10px;
}

input#mc-embedded-subscribe {
    line-height: 20px;
    height: 50px;
    margin: 10px 0 auto;
    width: 100%;
}

input#mce-EMAIL {
    height: 48px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: none;
}

div#mc_embed_signup_scroll p {
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
    font-family: Nunito;
}

.content__gdprLegal {
    display: none;
}

fieldset.mc_fieldset.gdprRequired.mc-field-group {
    padding: 0;
    border: none;
    margin: 0;
    text-align: left;
    padding-left: 34px;
    position: relative;
}

fieldset.mc_fieldset.gdprRequired.mc-field-group label {
    font-size: 18px!important;
    display: flex;
}

fieldset.mc_fieldset.gdprRequired.mc-field-group input {
    position: absolute;
    left: 0;
    top: 2px;
}

.content__gdpr > label {
    display: none;
}

.mc-field-group > label:first-of-type {
    display: none;
}


div#centercontainer.special {
    height: 0;
}

input#mce-EMAIL {
    margin: 0 0 15px;
    width: 100%;
    border: solid 2px #333;
    height: 58px;
}

div#mc_embed_signup * {
    box-sizing: border-box;
}
  
  @keyframes showAnimation {
    to {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
    }
  }

  .center a.button {
    margin: 18px 5px 0;
    display: inline-flex;
    text-decoration: none;
    color: black;
  }