div.a {
    text-align: center;
}

div.first {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background: #d36872, linear-gradient(156deg, rgba(211,104,114,0.5) 0%, rgba(225,183,85,0.5) 100%);
    background-blend-mode: normal;
}

div.rightalign {
    text-align: right;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
  
/* Add some content at the bottom of the video/page */

.content {
    text-align: center;
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.buttonContent {
    text-align: center;
}

body {
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background: #d36872;
    -background: #d36872, linear-gradient(156deg, rgba(211,104,114,0.5) 0%, rgba(225,183,85,0.5) 100%);
    background-blend-mode: normal;
}
  