#logoblacop {
    position: absolute;
    left: 629.28px;
    top: 23.49px;
    width: 150.51px;
    height: 73.92px;
    transform: rotate(5.0000033deg);
  }
  
  #fill1 {
    position: absolute;
    left: 0px;
    top: 15.17px;
    width: 145.13px;
    height: 59.07px;
    background: #ffffff;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill3 {
    position: absolute;
    left: 123.87px;
    top: 16.96px;
    width: 17.07px;
    height: 39.29px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill5 {
    position: absolute;
    left: 27.68px;
    top: 38.24px;
    width: 8.18px;
    height: 4.9px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill7 {
    position: absolute;
    left: 40.99px;
    top: 32.41px;
    width: 12.3px;
    height: 12.32px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill9 {
    position: absolute;
    left: 31.45px;
    top: 25.43px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill11 {
    position: absolute;
    left: 30.19px;
    top: 27.83px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill13 {
    position: absolute;
    left: 33.18px;
    top: 27.52px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill15 {
    position: absolute;
    left: 43.94px;
    top: 24.12px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill17 {
    position: absolute;
    left: 42.68px;
    top: 26.52px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill19 {
    position: absolute;
    left: 45.67px;
    top: 26.2px;
    width: 0.96px;
    height: 0.96px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill21 {
    position: absolute;
    left: 65.31px;
    top: 34.44px;
    width: 28.03px;
    height: 28.03px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill23 {
    position: absolute;
    left: 95.2px;
    top: 31.29px;
    width: 28.03px;
    height: 28.03px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  
  #fill25 {
    position: absolute;
    left: 5.48px;
    top: 18.87px;
    width: 55.82px;
    height: 48.97px;
    background: #313845;
    background-blend-mode: normal;
    transform: rotate(-6.000005deg);
  }
  